* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url('../assets/index/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    padding: 20px 20px 50px 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 80px auto
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    margin: 0 auto;
    padding: 0 50px;
}

.card-header img {
    width: auto;
    height: 150px;
}

.login-role {
    font-size: 20px;
    font-weight: 600;
    color: #8B0000;
    margin-bottom: 50px;
}

.login-form input {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-btn {
    padding: 15px 30px;
    background-color: #E01F26;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    margin-top: 50px
}

.login-btn:hover {
    background-color: #E06A6E;
}

footer {
    
    font-size: 16px;
    background-color: black;
    color: white; 
    padding: 20px 20px 20px 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}