/* css/style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF5F5; /* Màu nền hơi hồng */
}

.main-content {
    margin-left: 250px;
    padding: 10px 20px;
    margin-top: 60px;
}



/* Style cho các nút */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.btn-primary {
    background-color: #8B0000;
    color: white;
    margin-bottom: 10px
}

.btn-primary:hover {
    background-color: #B22222;
}




/* Style cho bảng */

.table-wrapper {
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px; 
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8B0000;
    color: white;
}

tr:hover {
    background-color: #FFF0F0;
}




/* Style cho form */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #8B0000;
    outline: none;
}

/* Card style */
.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    height: 550px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-top: 3px solid #8B0000;
}

.card-header {
    color: #8B0000; 
    margin: 0 0 20px 20px;
}


/* Dashboard stats */
.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-left: 4px solid #8B0000;
    border-top: 4px solid #8B0000;
}

.stat-card h3 {
    color: #8B0000;
    margin-bottom: 10px;
}

.stat-card .value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}



/* Style cho savings */
.header-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search {
    width: 400px;
    position: relative;
}

.search .form-group input {
    padding-left: 30px;
    width: 100%;
}

.search .form-group i {
    position: absolute;
    left: 10px;
    top: 33%;
    transform: translateY(-50%);
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.filter-date .date-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-date .date-input label {
    width: 80px;
}
